oracle.install.responseFileVersion=/oracle/install/rspfmt_dbinstall_response_schema_v12.1.0
oracle.install.option=INSTALL_DB_SWONLY
ORACLE_HOSTNAME={{ ansible_hostname }}
UNIX_GROUP_NAME={{ oracle.dbagroup }}
INVENTORY_LOCATION={{ oracledb_inventory_location }}
SELECTED_LANGUAGES=en,ru
ORACLE_HOME={{ oracledb_home_location }}
ORACLE_BASE={{ oracledb_base_location }}
oracle.install.db.InstallEdition=EE
oracle.install.db.DBA_GROUP={{ oracle.dbagroup }}
oracle.install.db.OPER_GROUP={{ oracle.dbagroup }}
oracle.install.db.BACKUPDBA_GROUP={{ oracle.dbagroup }}
oracle.install.db.DGDBA_GROUP={{ oracle.dbagroup }}
oracle.install.db.KMDBA_GROUP={{ oracle.dbagroup }}
SECURITY_UPDATES_VIA_MYORACLESUPPORT=false
DECLINE_SECURITY_UPDATES=true
