[GENERAL]
RESPONSEFILE_VERSION = "12.1.0"
OPERATION_TYPE = "createDatabase"
[CREATEDATABASE]
gdbName={{ oracledb_base_name }}
sid={{ oracledb_sid }}
databaseConfigType=SI
createAsContainerDatabase=false
templateName=General_Purpose.dbc
sysPassword={{ oracledb_admin_password }}
systemPassword={{ oracledb_admin_password }}
oracleHomeUserPassword={{ oracledb_user_password }}
emConfiguration=DBEXPRESS
emExpressPort=5500
dbsnmpPassword={{ oracledb_admin_password }}
characterSet=AL32UTF8
memoryPercentage=60
automaticMemoryManagement=
totalMemory=4096
