oracle.install.responseFileVersion=/oracle/install/rspfmt_dbinstall_response_schema_v12.1.0
oracle.install.option=INSTALL_DB_SWONLY
ORACLE_HOSTNAME={{ ansible_hostname }}
UNIX_GROUP_NAME={{ osuser.group }}
INVENTORY_LOCATION={{ oracle_database_inventory_location }}
SELECTED_LANGUAGES=en,ru
ORACLE_HOME={{ oracle_database_home }}
ORACLE_BASE={{ oracle_database_base }}
oracle.install.db.InstallEdition=EE
oracle.install.db.DBA_GROUP={{ osuser.dbagroup }}
oracle.install.db.OPER_GROUP={{ osuser.dbagroup }}
oracle.install.db.BACKUPDBA_GROUP={{ osuser.dbagroup }}
oracle.install.db.DGDBA_GROUP={{ osuser.dbagroup }}
oracle.install.db.KMDBA_GROUP={{ osuser.dbagroup }}
oracle.install.db.rac.configurationType=ADMIN_MANAGED
oracle.install.db.CLUSTER_NODES=
oracle.install.db.rac.serverpoolName=
oracle.install.db.rac.serverpoolCardinality=
oracle.install.db.config.starterdb.type=
oracle.install.db.config.starterdb.globalDBName=
oracle.install.db.config.starterdb.SID={{ oracle_sid }}
oracle.install.db.ConfigureAsContainerDB=
oracle.install.db.config.PDBName=
oracle.install.db.config.starterdb.characterSet=
oracle.install.db.config.starterdb.memoryOption=true
oracle.install.db.config.starterdb.memoryLimit=
oracle.install.db.config.starterdb.installExampleSchemas=false
oracle.install.db.config.starterdb.password.ALL={{ oracle_admin_password}}
oracle.install.db.config.starterdb.password.SYS=
oracle.install.db.config.starterdb.password.SYSTEM=
oracle.install.db.config.starterdb.password.DBSNMP=
oracle.install.db.config.starterdb.password.PDBADMIN=
oracle.install.db.config.starterdb.managementOption=
oracle.install.db.config.starterdb.omsHost=
oracle.install.db.config.starterdb.omsPort=
oracle.install.db.config.starterdb.emAdminUser=
oracle.install.db.config.starterdb.emAdminPassword=
oracle.install.db.config.starterdb.enableRecovery=
oracle.install.db.config.starterdb.storageType=FILE_SYSTEM_STORAGE
oracle.install.db.config.starterdb.fileSystemStorage.dataLocation={{ oracle_data_location }}
oracle.install.db.config.starterdb.fileSystemStorage.recoveryLocation={{ oracle_recovery_location }}
oracle.install.db.config.asm.diskGroup=
oracle.install.db.config.asm.ASMSNMPPassword=
MYORACLESUPPORT_USERNAME=
MYORACLESUPPORT_PASSWORD=
SECURITY_UPDATES_VIA_MYORACLESUPPORT=false
DECLINE_SECURITY_UPDATES=true
PROXY_HOST=
PROXY_PORT=
PROXY_USER=
PROXY_PWD=
COLLECTOR_SUPPORTHUB_URL=
PROXY_REALM=
AUTOUPDATES_MYORACLESUPPORT_USERNAME=
AUTOUPDATES_MYORACLESUPPORT_PASSWORD=
oracle.installer.autoupdates.option=
oracle.installer.autoupdates.downloadUpdatesLoc=
